@use "@/styles/breakpoints";

.sidebar {
  position: fixed;
  left: 0%;
  top: 103.5%; /* Position the rotation pivot in the middle vertically */
  transform: translateY(-50%) rotate(-90deg); /* Center and rotate */
  transform-origin: left top; /* Rotate around the left edge */
  width: 100vh; /* Full width of the viewport after rotation */
  height: auto;
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  
  @include breakpoints.respond(md) {
    background-color: var(--background);
    font-size: 0.85rem;
    transform: none;
    left: 0;
    top: 0;
    width: 100vw;
    z-index: 10;
    flex-direction: row-reverse
  }

  .other {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .socials {
    display: flex;
    gap: 1.5rem;
  }
}
