.sidebar {

  position: absolute;
  // TODO: FIX THIS SHIT~!
  top: 44%;
  left: -465px;
  height: 100px;
  width: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.5rem 0 1.5rem;
  transform: rotate(270deg);

  .other {
    display: flex;
    gap: 1.5rem;
  }

  .socials {
    display: flex;
    gap: 1.5rem;
  }
}