.aboutMe {
  margin-top: 8rem;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .main {
    margin-top: 10rem;

    h2 {
      margin-bottom: 1.5rem;
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      margin: 1rem 0;
      line-height: 1.5rem;
    }

    .resume {
      display: flex;
      justify-content: center;
      margin-top: 3rem;
    }
  }

  .contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}